.imgBox{
    flex-basis: 20%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}
.description{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.781);
}
.resultsList{
    width: 100%;
    margin: 2em 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.resultCard{
    list-style: none;
    display: flex;
    gap: 2em;
}