@import url('./css/resultCard.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 80vw;
  margin: auto;
}

.inputField input {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.527);
}
.inputField {
  margin-top: 2rem;
}